<div class="container-fluid footer-image-container sticky-footer-wrapper">
    <div class="row">
        <div class="col-sm">
            <img class="rounded footer-image"
                src="https://cdn.pixabay.com/photo/2016/11/23/18/13/close-up-1854157_960_720.jpg">
        </div>
        <div class="col-sm">
            <img class="rounded footer-image"
                src="https://cdn.pixabay.com/photo/2016/05/17/19/08/hyacinth-1398839_960_720.jpg">
        </div>
        <div class="col-sm">
            <img class="rounded footer-image"
                src="https://cdn.pixabay.com/photo/2015/04/20/13/18/notebook-731212_960_720.jpg">
        </div>
    </div>
</div>