<div>
    <!-- Page Content -->
    <div class="container" *ngIf="room">

        <!-- Portfolio Item Heading -->
        <h1 class="my-4" style="text-align: center;">{{room.title}}</h1>

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-6" style="font-family: Palatino Linotype, Book Antiqua, Palatino, serif">
                <a href="#">
                    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                </a>
                <h3 class="my-3">Description</h3>
                <p>{{room.description}}</p>
                <h3 class="my-3">Room Details</h3>
                <ul>
                    <li><span>Reservation price </span><span style="font-weight: 800;">${{room.reservationPrice}}</span></li>
                    <li><span>Full price </span><span style="font-weight: 800;">${{room.fullPrice}}</span></li>
                    <li><span>Available </span><span style="font-weight: 800;">{{room.available | date: fullDate}}</span></li>
                </ul>
            </div>
            <div class="col-md-6">
                <!-- Default form register -->
                <form class="text-center border border-light p-5" action="#!">

                    <p class="h4 mb-4">Information</p>

                    <div class="form-row mb-4">
                        <div class="col">
                            <!-- First name -->
                            <input type="text" id="defaultRegisterFormFirstName" class="form-control"
                                placeholder="First name">
                        </div>
                        <div class="col">
                            <!-- Last name -->
                            <input type="text" id="defaultRegisterFormLastName" class="form-control"
                                placeholder="Last name">
                        </div>
                    </div>

                    <!-- E-mail -->
                    <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">

                    <input type="number" id="defaultRegisterFormGuestNumber" class="form-control mb-4" placeholder="GuestNumber">

                    <input type="text" id="defaultRegisterFormUntilDate" class="form-control mb-4" placeholder="Reservating until">

                    <input type="text" id="defaultRegisterFormUntilDate" class="form-control mb-4" placeholder="Card information">

                    <!-- Newsletter -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
                        <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our
                            newsletter</label>
                    </div>

                    <!-- Sign up button -->
                    <button (click)="submitForm()" class="btn btn-primary my-4 btn-block" type="submit" >Order</button>

                    <!-- Terms of service -->
                    <p>By clicking
                        <em>Sign up</em> you agree to our
                        <a href="" target="_blank">terms of service</a>

                </form>
                <!-- Default form register -->
            </div>
        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>

